body{
  font-family: Roboto;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
  background-color: #1f2937;
  gap: 128px;
}
ul {
  color: #949494;
  display: flex;
  list-style: none;
  gap: 48px;
  margin: 0;
}
.title {
  color: #f9faf8;
  font-size: 22px;
  font-weight: 800;
}

.content-1 {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  padding-top: 96px;
  padding-bottom: 128px;
  gap: 24px;
}

.container {
  
  width: 400px;
}

a {
  text-decoration: none;
  color: #b3b3b3;
}

h1 {
  font-size: 48px;
  font-weight: 800;
  color: white;
  margin: 0;
}

p{
  color: #e4e4e4;
  margin: 0;
  padding-bottom: 16px;
}

button {
  background-color: rgb(69, 156, 255);
  font-weight: 700;
  color: white;
}

.image {
  display: flex;
  height: 200px;
  width: 400px;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(116, 116, 116);
  background-color: #747474;
}